@import "~materialize-css/dist/css/materialize.min.css";

/* label color */
.input-field label {
    color: #6a1b9a;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #6a1b9a !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
    color: #6a1b9a !important;
}
/* label focus color */
.input-field input[type=number]:focus + label {
    color: #6a1b9a !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}
/* label underline focus color */
.input-field input[type=number]:focus {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #6a1b9a !important;
}

/* icon prefix focus color */
.input-field label.active {
    color: #6a1b9a !important;
}